<?xml version="1.0" encoding="UTF-8"?>
<!-- Simulate robot in gazebo: To load our robot into the empty world  -->
<launch>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	    <arg name="world_name" value="$(find quadx)/worlds/room.world"/>
		    <arg name="paused" value="false"/>
		    <arg name="use_sim_time" value="true"/>
		    <arg name="gui" value="true"/>
		    <arg name="headless" value="false"/>
		    <arg name="debug" value="false"/>
    </include>

    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" output="screen" args="-file $(find quadx)/urdf/quadx.xacro -urdf -model quadx -x $(arg x) -y $(arg y) -z $(arg z)" />
</launch>
